<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaccion 1 / Tramite</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link href="/stylesheets/crearyeditar.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form method="post" action="/transaccion1/crear">
        <h1 class="h3 mb-3">EL UMBRAL</h1>
        <h1 class="h5 mb-3 fw-normal">TRAMITE / TRANSACCION 1</h1>

        <div class="form-floating">
          <input type="text" class="form-control" name="id_tram" value="<%= ultimoid %>" readonly />
          <label for="floatingInput">Id tram:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="id_tipo_tram" />
          <label for="floatingInput">Id tipo tramite:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="id_clien" />
          <label for="floatingInput">Id cliente:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="id_difu" />
          <label for="floatingInput">Id difunto:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="id_estruc" />
          <label for="floatingInput">Id estructura:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="id_per" />
          <label for="floatingInput">Id personal:</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" name="fch_tram" />
          <label for="floatingInput">Fch Tramite:</label>
        </div>

        <div class="form-floating">
          <input type="date" class="form-control" name="fch_cumpli_tram" />
          <label for="floatingInput">Fch Cumpli Tramite:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="sms_tram" />
          <label for="floatingInput">SMS Tramite:</label>
        </div>


        <% if (datos != "") { %>
          <% if (datos == "Transaccion exitosa") { %>
            <div class="form-floating">
              <input type="text" class="form-control" style="background-color: greenyellow;" readonly/>
              <label for="floatingInput"><%= datos %></label>
            </div>

          <% } else {%>
          <div class="form-floating">
            <input type="text" class="form-control" style="background-color: #B73B37;" readonly/>
            <label for="floatingInput"><%= datos %></label>
          </div>
          <% } %>
        <% } %>
      

        <a href="/" type="button" class="btn btn-secondary" style="width: 150px"
          >Volver</a
        >
        <button class="btn btn-success" style="width: 150px" type="submit">
          Registrar
        </button>
        
      </form>
    </main>
  </body>
</html>
