<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/stylesheets/crearyeditar.css" rel="stylesheet">
</head>
<body class="text-center"> 
    
    <main class="form-signin">
      <form >   
        <h1 class="h3 mb-3">CEMENTERIO EL UMBRAL</h1> 
        <div class="container">
        <img src="/images/logo1.jpg" alt="" width="50%">
        </div>
        <br>          
        <a href="/cliente" type="button" class="btn color" style="width: 150px" >Cliente</a>
        <a href="/personal" type="button" class=" btn color" style="width: 150px" >Personal</a>
        </br></br>  
        <a href="/transaccion1" type="button" class=" btn color" style="width: 150px" >Transaccion 1</a> 
        <a href="/transaccion2" type="button" class=" btn color" style="width: 150px" >Transaccion 2</a>  
        </br> 
        </br> 
      </form>
    </main> 
</body>
</html>
