<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/stylesheets/index.css" rel="stylesheet">

  </head>
  <body>
    <a href="/" class="btn btn-secondary" type="button">Volver</a>
    <a href="/cliente/crear" class="btn btn-success" type="button">Añadir cliente</a>
  </br> </br>
    <table class="table table-light" >
      <thead>
        <tr>
          <th scope="col">Id:</th>
          <th scope="col">Id de ubicacion:</th>
          <th scope="col">Cedula:</th>
          <th scope="col">Nombres:</th>
          <th scope="col">Apellidos:</th>
          <th scope="col">Fecha de nacimiento:</th>
          <th scope="col">Telefono 1:</th>
          <th scope="col">Telefono 2:</th>
          <th scope="col">Operaciones:</th>    
        </tr>
      </thead>
      <tbody>
        <% for( let cont = 0; cont < cliente.length; cont++ ) { %>
        <tr>
          <th>
            <%= cliente[cont].id_clien %> 
          </th>
          <td>
            <%= cliente[cont].id_ubi %>   
          </td>
          <td>
            <%= cliente[cont].ci_clien %>   
          </td>
          <td >
            <%= cliente[cont].name_clien %>   
          </td>
          <td >
            <%= cliente[cont].lname_clien %>   
          </td>
          <td >
            <%= cliente[cont].fch_naci_clien %>   
          </td>
          <td>
            <%= cliente[cont].tel1_clien %>   
          </td>
          <td>
            <%= cliente[cont].tel2_clien %>   
          </td>
          <td> 
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group" >
              <form class="form-inline" method="get" action="cliente/editar/<%= cliente[cont].id_clien %>">
                <button class="btn btn-warning" type="submit" style="width: 75px;">Editar</button>
              </form>
            </div> 
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group" >
              <form class="form-inline" method="post" action="/cliente/eliminar/<%= cliente[cont].id_clien %>">
                <button class="btn btn-danger" type="submit" style="width: 75px;">Borrar</button>
              </form>
            </div> 
          </td>   
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
