<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/stylesheets/crearyeditar.css" rel="stylesheet">
</head>
<body class="text-center"> 
    
    <main class="form-signin">
      <form method="post" action="/cliente/actualizar">
        <h1 class="h3 mb-3">EL UMBRAL</h1>
        <h1 class="h5 mb-3 fw-normal">ACTUALIZACION DE CLIENTES</h1>
        
        <div class="form-floating">
          <input type="text" class="form-control" name="id" value="<%= cliente.id_clien %>" readonly>
          <label for="floatingInput">Id:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="ubi" value="<%= cliente.id_ubi %>">
          <label for="floatingInput">Id Ubicacion:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="ci" value="<%= cliente.ci_clien %>">
          <label for="floatingInput">CI Cliente:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="name" value="<%= cliente.name_clien %>">
          <label for="floatingInput">Nombres:</label>
        </div>
    
    
        <div class="form-floating">
          <input type="text" class="form-control" name="lname" value="<%= cliente.lname_clien %>">
          <label for="floatingInput">Apellidos:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="fch" value="<%= cliente.fch_naci_clien %>" readonly> 
          <label for="floatingInput">Fecha de nacimiento:</label>
        </div>

        <div class="form-floating">
          <input type="date" class="form-control" name="fchn" value="<%= cliente.fch_naci_clien %>">
          <label for="floatingInput">Fecha de nacimiento:</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" name="tele1" value="<%= cliente.tel1_clien %>">
          <label for="floatingInput">Telefono 1:</label>
        </div>
    
        <div class="form-floating">
          <input type="text" class="form-control" name="tele2" value="<%= cliente.tel2_clien %>">
          <label for="floatingInput">Telefono 2:</label>
        </div>
        
        <a href="/cliente" type="button" class=" btn  btn-secondary" style="width: 150px" >Volver</a>
        <button class=" btn btn-success" style="width: 150px;" type="submit">Actualizar</button>

      </form>

    </main> 
    
      </body>
      
</html>