<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/stylesheets/crearyeditar.css" rel="stylesheet">
</head>
<body class="text-center"> 
    
    <main class="form-signin">
      <form method="post" action="/personal/actualizar">
        <h1 class="h3 mb-3">EL UMBRAL</h1>
        <h1 class="h5 mb-3 fw-normal">ACTUALIZACION DE PERSONAL</h1>
        
        <div class="form-floating">
          <input type="text" class="form-control" name="id" value="<%= personal.id_per %>" readonly>
          <label for="floatingInput">Id:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="tipo" value="<%= personal.id_tipo_per %>">
          <label for="floatingInput">Id tipo personal:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="ci" value="<%= personal.ci_per %>">
          <label for="floatingInput">CI Personal:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="name" value="<%= personal.name_per %>">
          <label for="floatingInput">Nombres:</label>
        </div>
    
    
        <div class="form-floating">
          <input type="text" class="form-control" name="lname" value="<%= personal.lname_per %>">
          <label for="floatingInput">Apellidos:</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" name="fch" value="<%= personal.fch_naci_per %>" readonly> 
          <label for="floatingInput">Fecha de nacimiento:</label>
        </div>

        <div class="form-floating">
          <input type="date" class="form-control" name="fchn" value="<%= personal.fch_naci_per %>">
          <label for="floatingInput">Fecha de nacimiento:</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" name="tele1" value="<%= personal.tel1_per %>">
          <label for="floatingInput">Telefono 1:</label>
        </div>
    
        <div class="form-floating">
          <input type="text" class="form-control" name="tele2" value="<%= personal.tel2_per %>">
          <label for="floatingInput">Telefono 2:</label>
        </div>
        
        <a href="/personal" type="button" class=" btn  btn-secondary" style="width: 150px" >Volver</a>
        <button class=" btn btn-success" style="width: 150px;" type="submit">Actualizar</button>

      </form>

    </main> 
    
      </body>
      
</html>